__pycache__/
*.pyc
.pytest_cache/
db.sqlite3
node_modules/
.venv/
venv/

# Static files are generated, don't commit them
static/**
staticfiles/**

# VS Code and GitHub CodeSpaces files
.devcontainer/**
.vscode
.sessions